body{
    background-color: aquamarine;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
}
h3{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
h4{
    font-family: Helvetica;
    text-align: center;
}
h5{
    font-family: fantasy;
    text-align: center;
}
h6{
    font-family: cursive;
    text-align: center;
}